@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la prueba final</h1>
    <p>Aprenda acerca <a href="https://docs.microsoft.com/aspnet/core">creación de aplicaciones web con ASP.NET Core</a>.</p>
</div>
